name: Build and Deploy GitHub Page

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - 12

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install yarn
        run: |
           curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.22.4
           export PATH=$HOME/.yarn/bin:$PATH ;
           yarn --version

      - name: Install and Build
        run: |
          npm i
          npm run clean
          npm run build
          npm run audit || true
          npm run parse

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: docs
          CLEAN: true
